<div class="sidenav-container">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Solicitar consulta" (click)="openAppointment()" matTooltip="Solicitar consulta">
      <span class="material-symbols-outlined">heart_plus</span>
    </button>
    <button mat-icon-button aria-label="Consultar historial" (click)="openHistoryDialog()" matTooltip="Consultar historial">
      <span class="material-symbols-outlined">quick_reference_all</span>
    </button>
    <span class="title">Consulvet</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="drawer.toggle()" aria-label="Abrir drawer">
      <img *ngIf="userPhotoUrl; else defaultIcon" [src]="userPhotoUrl" class="avatar-img">
      <ng-template #defaultIcon>
       <mat-icon class="defaultAvatar">account_circle</mat-icon>
      </ng-template>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="side" class="custom-drawer" position="end">
      <div class="buttonsDrawer" fxLayout="column" fxLayoutAlign="space-between center">
        <button mat-raised-button color="primary" (click)="openPhotoDialog()">Editar foto de perfil</button>
        <button mat-raised-button color="primary" (click)="openUpdateProfileInfoDialog()">Editar información de perfil</button>
        <button mat-raised-button color="primary" (click)="openAddAnimalDialog()">Añadir nuevo animal</button>
        <button mat-raised-button color="primary" (click)="openUpdateAnimalDialog()">Editar animal</button>
        <button mat-raised-button color="primary">Eliminar animal</button>
        <button mat-raised-button color="primary">Eliminar mi cuenta</button>
        <button mat-raised-button color="primary" (click)="goToLogin()">Cerrar Sesión</button>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
      <div style="padding: 1rem;"></div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

