.sidenav-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 100vh;
}
  
.mat-toolbar {
    z-index: 10;
}

.example-spacer{
    flex: 1 1 auto;
}

.mat-drawer-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

.mat-drawer {
    width: 10%;
    z-index: 1000;
}

.mat-drawer button{
    width: 100%;
}

.mat-raised-button{
    border-radius: 0%;
}

.mat-raised-button:hover {
    color:rgb(0, 162, 255);
    background-color: rgb(250, 244, 235);
}
  

