.watermark-container::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Importante para que no interfiera con clicks */
    z-index: 0; /* Para que esté detrás del contenido */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.watermark{
    background-image: url('../assets/LogoConsulvet600x600.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 80%;
    height: 80%;
    opacity: 0.1;
}