<h2 mat-dialog-title>Consultar Historial</h2>

<div mat-dialog-content>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Selecciona un animal</mat-label>
    <mat-select [formControl]="nombreAnimal" (selectionChange)="obtenerHistorial()">
      <mat-option *ngFor="let animal of animales" [value]="animal.nombre">
        {{ animal.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-table *ngIf="historial.data.length > 0" [dataSource]="historial">
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha de visita </th>
      <td mat-cell *matCellDef="let row">{{ row.fecha }}</td>
    </ng-container>

    <ng-container matColumnDef="motivo">
      <th mat-header-cell *matHeaderCellDef> Motivo de consulta </th>
      <td mat-cell *matCellDef="let row">{{ row.motivo }}</td>
    </ng-container>

    <ng-container matColumnDef="diagnóstico">
      <th mat-header-cell *matHeaderCellDef> Diagnóstico </th>
      <td mat-cell *matCellDef="let row">{{ row['diagnóstico'] }}</td>
    </ng-container>

    <ng-container matColumnDef="tratamiento">
      <th mat-header-cell *matHeaderCellDef> Tratamiento </th>
      <td mat-cell *matCellDef="let row">{{ row.tratamiento }}</td>
    </ng-container>

    <ng-container matColumnDef="pruebas">
      <th mat-header-cell *matHeaderCellDef> Pruebas realizadas </th>
      <td mat-cell *matCellDef="let row">{{ row.pruebas }}</td>
    </ng-container>

    <ng-container matColumnDef="observaciones">
      <th mat-header-cell *matHeaderCellDef> Observaciones </th>
      <td mat-cell *matCellDef="let row">{{ row.observaciones }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </mat-table>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="cerrarDialogo()">Cerrar</button>
</div>
