<div fxLayout="row" fxLayoutAlign="center center" class="main-container">
  <mat-card style="width: 300px; margin-top: 200px;">
    <mat-card-title>Inicio de sesión:</mat-card-title>

    <form [formGroup]="loginData" fxLayout="column" fxLayoutGap="16px">
      <mat-form-field appearance="fill">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput formControlName="nombre_usuario">
        <mat-error *ngIf="loginData.get('nombre_usuario')?.hasError('required')">
          El nombre de usuario es obligatorio
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="contraseña">
        <mat-error *ngIf="loginData.get('contraseña')?.hasError('required')">
          La contraseña es obligatoria
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button color="primary" class="loginButton" type="submit" (click)="onSubmit()" style="width: 330px; margin-top: 24px;">Iniciar sesión</button>
</div>
