<div class="login-container">
<mat-toolbar color="primary" class="toolbar">
  <span class="title">Consulvet</span>
</mat-toolbar>

<h1 class="mat-card-title-style-login" style="font-family: Roboto, 'Helvetica Neue', sans-serif; font-size: 50px; font-weight: 400; color: rgba(0, 0, 0, 0.87);
text-align: center; margin-top: 50px; margin-bottom: 16px; line-height: 24px; letter-spacing: 0.0125em; display: block; padding: 0;">Bienvenida/o a Consulvet</h1>

<div fxLayout="row" fxLayoutAlign="center center" class="main-container">
  <mat-card style="width: 300px; margin-top: 200px;">
    <mat-card-title>Inicia sesión con tu cuenta:</mat-card-title>

    <form [formGroup]="loginData" fxLayout="column" fxLayoutGap="16px">
      <mat-form-field appearance="fill">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput formControlName="nombre_usuario">
        <mat-error *ngIf="loginData.get('nombre_usuario')?.hasError('required')">
          El nombre de usuario es obligatorio
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="contraseña">
        <mat-error *ngIf="loginData.get('contraseña')?.hasError('required')">
          La contraseña es obligatoria
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button color="primary" class="loginButton" type="submit" (click)="onSubmit()" [disabled]="isLoading" style="width: 330px; margin-top: 24px;">Iniciar sesión</button>
</div>

<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 10px;">
  <span style="color: gray; cursor: pointer;" (click)="goToRegister()">
    ¿Aún no tienes cuenta? ¡Regístrate ahora!
  </span>
</div>

<div fxLayout="row" fxLayoutAlign="center center" *ngIf="isLoading" style="margin-top: 16px;">
  <mat-spinner diameter="40" color="primary"></mat-spinner>
</div>
</div>
