@use '@angular/material' as mat;


$my-primary: mat.define-palette((
  50:  #e4eef6,
  100: #bdd4ea,
  200: #93b9dd,
  300: #689ed0,
  400: #4989c5,
  500: #3578B0, //Color principal
  600: #2f6fa4,
  700: #276397,
  800: #20588a,
  900: #133f75,
  contrast: (
    50:  black,
    100: black,
    200: black,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
));

$my-accent: mat.define-palette((
  50: #e0f1f9,
  100: #b3cde0,   //Acento principal
  200: #a0c4d9,   
  300: #8bb9d2,   
  400: #79afcc,   
  500: #68a5c5,
  600: #5999bf,
  700: #4a8eb9,
  800: #3b83b2,
  900: #2c78ac,   
  contrast: (
    50: black,
    100: black,
    200: black,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
));

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  )
));

@include mat.all-component-themes($my-theme);
