body {
    color:  #332F2C;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    margin-left: 1%;
}

nav img {
    width: auto;
    height: 100%;
}

#nombreApp {
    color: #3578B0;
    margin-left: 40%;
}

#loginRegister {
    font-weight: bold;
    color:  #6AD4B7;
    background-color: white;
    border: white;
    margin-left: 42%;
}