<div fxLayout="column" fxLayoutAlign="start center" class="main-container">

  <h1 class="mat-card-title-style" style="text-align: center;">Edita tus datos</h1>
  
    <form [formGroup]="updateUserData" (ngSubmit)="updateUser()" fxLayout="column" fxLayoutGap="16px" class="form-container" style="width: 100%;">
      <mat-form-field appearance="fill">
        <mat-label>DNI:</mat-label>
        <input matInput formControlName="dni" [disabled]="true">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nombre completo:</mat-label>
        <input matInput formControlName="completeName">
        <mat-error *ngIf="updateUserData.get('completeName')?.hasError('required')">Indica tu nombre y apellidos</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" color="primary">
        <mat-label>Fecha de nacimiento:</mat-label>
        <input matInput formControlName="birthday" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="updateUserData.get('birthday')?.hasError('required')">Indica tu fecha de nacimiento</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Dirección:</mat-label>
        <input matInput formControlName="address">
        <mat-error *ngIf="updateUserData.get('address')?.hasError('required')">Indica tu dirección</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Número de teléfono:</mat-label>
        <input matInput formControlName="phoneNumber">
        <mat-error *ngIf="updateUserData.get('phoneNumber')?.hasError('required')">Indica tu número de teléfono</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email:</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="updateUserData.get('email')?.hasError('required')">Indica tu correo electrónico</mat-error>
      </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
      <button mat-raised-button color="primary" class="updateButton" type="submit" (click)="updateUser()" [disabled]="isLoading">Actualiza tus datos</button>
      <button mat-raised-button color="accent" type="button" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</div>